/* add CSS class and element and selectors here */
body {
  background-color:red;
  font-size: 150%;
  text-align: center;
  font-color:green; 
}
.myClass {
  background-color:gray;
  color:blue;
}
.myFavoriteColor { 
  color:yellow;
  font-size:150%;
}
.thisis3 {
  font-size:300%;
}
  
