/* add CSS class and element and selectors here */
body {
  background-color:lightblue;
  font-size: 150%;
}
.myclass {
  background-color:gray;
  color:blue;
}
.myFavoriteColor { 
  color:yellow;
  font-size:150%;
  border:5%;
}
  
